<form action="/notes" method="post" class="form-create">
    <input type="text" name="title" placeholder="title" required>
    <textarea name="body" id="" cols="30" rows="10"></textarea>
    <button class="btn">save</button>
</form>
